.form
  margin-top: 50px
  margin-bottom: 32px
  position: relative

  \:global
    .ant-form-item-explain
      position: absolute
      top: 100%
      line-height: 1
      margin-top: 1px

    .ant-form-item-with-help
      margin-bottom: 0 !important


.input
  width: 300px !important

.helpText
  color: #bfbfbf
  position: absolute
  top: -30px