.collapse 
  \:global
    .ant-collapse-header 
      padding-left: 0 !important
      color: #bfbfbf !important
    .ant-collapse-content-box
      padding-left: 0px !important
      padding-bottom: 0px !important
    .ant-skeleton-title
      margin-top: 0 !important

    .ant-form-item-explain
      position: absolute
      top: 100%
      line-height: 1
      margin-top: 1px
    .ant-form-item-with-help
      margin-bottom: 0 !important

.form
  margin-bottom: 30px

.input
  width: 270px !important